.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header ul {
  list-style: none;
}

.header ul {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
}

.header ul li {
  padding: 32px;
}

.header {
  background: #efefef;
}
.body {
  width: 900px;
  margin: auto;
}
.hero_slid {
  background-image: url(/src/assets/img/hero-img.png);
  height: 80vh;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_content h1 {
  color: black;
  font-size: 49px;
}

.hero_content p {
  font-size: 20px;
}

.hero_content button {
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  color: white;
  background: #39ab6c;
}

.about {
  text-align: center;
  padding: 20px 0px 20px;
}

.ostad_business {
  text-align: center;
  padding: 20px 0 20px 0;
}

.ostad_business h1 {
  font-size: 47px;
  padding: 16px;
}

.service {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.service h1 {
  font-size: 37px;
  margin-bottom: 23px;
}

.service p {
  font-size: 21px;
}
.main_footer {
  display: flex;
  justify-content: space-between;
  background-color: green;
  color: white;
}
.sub_footer {
  display: flex;
  width: 1085px;
  justify-content: space-between;
  margin: auto;
  padding: 50px;
}
button.login {
  border: none;
  padding: 10px 15px;
  background: green;
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
}
button.logout {
  border: none;
  padding: 10px 15px;
  background: rgb(199, 52, 7);
  color: white;
  font-size: 17px;
  cursor: pointer;
}